:root {
  --light-grey: #e1e1e1;
  --bg-black: #000;

  --primary-light: #fff;
}

*, ::before, ::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  height: 100vh;
  width: 100%;
}


a {
  color: var(--bg-black);
  text-decoration: none;
}

.main-header {
  padding: 0 15px;
  background: var(--primary-light);
  font-weight: bolder;
}

.item {
  list-style-type: none;
  font-size: 25px;
}

#logo {
  padding: 2px 0;
  display: block;
  width: 100px;
}

/* Mobile Menu*/

.nav {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: -5px 0px;
}

.nav li a {
  display: block;
  padding: 15px 5px;
  font-size: 20px;
}

li {
  list-style-type: none;
}

.toggle {
  order: 1;
  font-size: 30px;
}

.item {
  order: 3;
  width: 100%;
  text-align: center;
  display: none;
}

.active .item {
  display: block;
}

/* Tablet Menu */

@media all and (min-width: 700px) {
  .item {
    order: 1;
    position: relative;
    display: block;
    width: auto;
  }

  .toggle {
    display: none;
  }
}

/* Desktop Menu */

@media all and (min-width: 960px) {
  .item {
    order: 0;
    position: relative;
    display: block;
    width: auto;
  }
}

/* Hero, Top Section */

#ocean-bg {
  min-height: 100%;
  background-image: url('../image/foggy-ocean.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-blend-mode: multiply;
}

h1, span {
  display: block;
  text-align: center;
  font-weight: 300;
  font-size: 3.5rem;
}

.h1 {
  padding: 2.5em 0.0625em;
}

#line {
  border-bottom: solid 0.0625rem var(--bg-black);
  margin: 0 1em;
}

@media all and (min-width: 67.5em) {
  h1, span {
    font-size: 5rem;
  }

  .h1 {
    padding: 1.5em 0;
  }
}

@media all and (min-width: 90em) {
  h1, spam {
    font-size: 6.125rem;
  }

  .h1 {
    padding: 1.5em;
  }
}

/* Baptism section */
.section-b {
  margin: 1rem auto;
  max-width: 85%;
  height: auto;
}

.info {
  background: var(--light-grey);
}

h2,
p {
  font-weight: 300;
}
h2 {
  font-size: 3rem;
  padding: 0.625em;
  text-align: center;
}
p {
  font-size: 1.5rem;
  line-height: 40px;
  padding: 0.5em 1em;
}

#house {
  max-width: 90%;
  margin-bottom: 2.5em;
}

.image {
  text-align: center;
}

.sign-up {
  margin-inline: 25px;
}

.sign-up a {
  text-decoration: none;
  border: 1px solid var(--bg-black);
  padding: 10px 15px;
}

