:root {
  --dark-grey: #5c5c5c;
  --bg-black: #000;

  --primary-light: #fff
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  height: 100vh;
  width: 100%;
}


a {
  color: #000000;
  text-decoration: none;
}

.main-header {
  padding: 0 15px;
  background: #D7CDB6;
  font-weight: bolder;
}

.item {
  list-style-type: none;
  font-size: 25px;
}

#logo {
  display: block;
  width: 100px;
}

/* Mobile Menu*/

.nav {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: -5px 0px;
}

.nav li a {
  display: block;
  padding: 15px 5px;
  font-size: 20px;
}

li {
  list-style-type: none;
}

.toggle {
  order: 1;
  font-size: 30px;
}

.item {
  order: 3;
  width: 100%;
  text-align: center;
  display: none;
}

.active .item {
  display: block;
}

/* Tablet Menu */

@media all and (min-width: 700px) {
  .item {
    order: 1;
    position: relative;
    display: block;
    width: auto;
  }

  .toggle {
    display: none;
  }
}

/* Desktop Menu */

@media all and (min-width: 960px) {
  .item {
    order: 0;
    position: relative;
    display: block;
    width: auto;
  }
}

/* Hero, Top Section */

.sub-section {
  padding: 3em;
  background: rgb(208, 236, 208);
  height: 100vh;
}

.content {
  text-align: center;
}

.h-top {
  font-size: 3.5rem;
  font-weight: 300;
  padding: 1.625em 0 1.625em;
}

.h-bottom {
  font-size: 4rem;
  font-weight: 300;
  padding: 1.625em 0;
}

.h-top {
  border-bottom: 0.0625rem outset #000;
}