@font-face {
  font-family: "Hollic";
  src: url(../fonts/Hollic\ Brush\ -\ DEMO.otf);
}

@font-face {
  font-family: "FrontLine";
  src: url(../fonts/FrontlineRegular-z8eG1.ttf);
}

@font-face {
  font-family: "Amalfi";
  src: url(../fonts/Amalfi\ Coast.ttf);
}

@font-face {
  font-family: "Ramilla-black";
  src: url(../fonts/TT_Ramillas/Fontspring-DEMO-tt_ramillas_black.otf);
}
@font-face {
  font-family: "Ramilla-light";
  src: url(../fonts/TT_Ramillas/Fontspring-DEMO-tt_ramillas_light.otf);
}
@font-face {
  font-family: "Ramilla-bold";
  src: url(../fonts/TT_Ramillas/Fontspring-DEMO-tt_ramillas_bold.otf);
}
@font-face {
  font-family: "Ramilla-regular";
  src: url(../fonts/TT_Ramillas/Fontspring-DEMO-tt_ramillas_regular.otf);
}

:root {
  --clr-neutral-900: #000;
  --clr-neutral-700: #2A2A2A;
  --clr-neutral-100: #fff;
}

/* Basic Style */
a::before, a::after, a:hover, a {
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: .6s;
          transition-duration: .6s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
}

*, ::before, ::after {
  box-sizing: border-box;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  /* -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: .6s;
          transition-duration: .6s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease; */
  padding: 0;
  margin: 0;
}
html,
body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%;
  width: 100%;
}

body {
  background: #fff;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

a {
  color: #000;
  text-decoration: none;
}

.header {
  padding: 0 15px;
}

.item {
  list-style-type: none;
  font-size: 25px;
}

#logo {
  padding: 2px 0;
  display: block;
  width: 6.25rem;
}

/* Mobile Menu*/

.nav {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: -5px 0px;
}

.nav li a {
  display: block;
  padding: 15px 5px;
  font-size: 1rem;
}

li {
  list-style-type: none;
}

.toggle {
  order: 1;
  font-size: 1.875rem;
}

.item {
  order: 3;
  width: 100%;
  text-align: center;
  display: none;
}

.active .item {
  display: block;
}

/* Tablet Menu */

@media all and (min-width: 700px) {
  .item {
    order: 1;
    position: relative;
    display: block;
    width: auto;
  }

  .toggle {
    display: none;
  }
}

/* Desktop Menu */

@media all and (min-width: 960px) {
  .item {
    order: 0;
    position: relative;
    width: auto;
  }

  .nav {
    justify-content: space-around;
  }
}

/* Hero, Top Section */

#ocean-bg {
  min-height: 100%;
  background-image: url('../image/foggy-ocean.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-blend-mode: multiply;
}

h1, span {
  display: block;
  text-align: center;
  font-weight: 300;
  font-size: 3.5rem;
}

.h1 {
  padding: 2.5em 0.0625em;
}

#line {
  border-bottom: solid 0.0625rem var(--bg-black);
  margin: 0 1em;
}

@media all and (min-width: 67.5em) {
  h1, span {
    font-size: 5rem;
  }

  .h1 {
    padding: 1.5em 0;
  }
}

@media all and (min-width: 90em) {
  h1, spam {
    font-size: 6.125rem;
  }

  .h1 {
    padding: 1.5em;
  }
}

/* Baptism section */
.section-b {
  margin: 1rem auto;
  max-width: 85%;
  height: auto;
}

.info {
  background: var(--light-grey);
}

h2,
p {
  font-weight: 300;
}
h2 {
  font-size: 3rem;
  padding: 0.625em;
  text-align: center;
}
p {
  font-size: 1.5rem;
  line-height: 40px;
  padding: 0.5em 1em;
}

#house {
  max-width: 90%;
  margin-bottom: 2.5em;
}

.image {
  text-align: center;
}

.sign-up {
  margin-inline: 25px;
}

.sign-up a {
  text-decoration: none;
  border: 1px solid var(--bg-black);
  padding: 10px 15px;
}

